.logo{
    vertical-align:left;
  }
.toolbar {
    background-color: #b22222;
    overflow: hidden;
  }
  
  
  .toolbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 9%;
  text-align: center;
  }
  
  .newrow {
 display: inline-block;
  width:350px; 
  border:2px solid; 
  vertical-align:bottom;
  height : 400px;
  padding:50px;
  margin : 20px;
  font-size: 40px;
  font-weight: boulder;
  font-family:Monospace;
  text-align: center;
  }
  
  .nextrow{
    display: inline-block;
    width:500px; 
    border:2px solid; 
    vertical-align:top;
    height : 300px;
    padding:30px;
    margin : 10px;
  
  }
  
  .anotherrow{
    display: inline-block;
    width:500px; 
    border:2px solid; 
    vertical-align: top;
    initial-letter-align:center;
    height : 350px;
    padding:20px;
    margin : 10px;
  }
   
a{
    text-decoration:none;
    color: black;
}